.debugger-tabs li:hover{

}

.debugger-tabs-item:first-child{
  border-left:none;
}

.debugger-tabs-item.active{
  border-bottom:none;
  background:none;
}

.debugger-tabs {
  margin-bottom:15px;
}

.debugger-tabs-item{
  padding: 10px;
  display: inline-block;
  width: 50%;
  color: #fff;
  border: 5px solid #373B41;
  border-right: none;
  cursor: pointer;
  background: #373B41;
  font-size: 16px;
}

label.debugger-tabs-content-label {
  color: #7191B9;
  margin-right: 15px;
  margin-left: 10px;
}

.half-width{
  width: 50%;
  display: inline-block;
}

.half-width:first-child{
  text-align: right;
}

.half-width:last-child{
  text-align: left;
}

.form-wrapper{
  margin:20px 0;
}

label.debugger-tabs-content-label {
  color: #7191B9;
  margin-right: 15px;
  margin-left: 10px;
}

.debugger-tabs-content-input {
  background: #BABEC1;
  border: none;
  padding: 4px 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.53);
  width: 50%;
}